@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* ::-webkit-scrollbar-track {
  @apply bg-neutral;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.sidebarWrapper {
    position: absolute;
    height: 97vh !important;
}

.MuiDataGrid-root {
    border: 'none' !important;
}

.MuiDataGrid-cell {
    @apply border-b-0;
}

.name-column--cell {
    @apply text-black;
}

.MuiDataGrid-cell:focus {
    @apply border-b-0;
}

.MuiDataGrid-cell:focus-within {
    @apply border-b-0;
}

.MuiDataGrid-cell:focus-visible {
    @apply border-b-0;
}

.MuiDataGrid-cell {
    @apply text-base-content;
}

.name-column--cell {
    @apply text-base-content;
}

.MuiDataGrid-columnHeaders {
    @apply text-base-content text-base font-bold border-b-0;
}

.MuiDataGrid-main {
    @apply border-0 !important;
}

.MuiDataGrid-virtualScroller {
}

.MuiDataGrid-footerContainer {
    @apply border-t-0;
}

.MuiCheckbox-root {
    @apply text-accent !important;
}

.MuiAccordionSummary-root {
    @apply !important;
}

.MuiAccordionDetails-root {
    @apply text-base-content !important;
}

.bOQEtf {
    @apply border-0 !important;
}

.active .sc-bqWxrE .ewrzPa .menu-item {
    @apply bg-accent !important;
}

.sidebar-menu-item {
    @apply overflow-y-auto rounded;
}

.sidebar-ul-menu-item {
    @apply space-y-2;
}

.sidebar-a-menu-item {
    @apply flex items-center p-2 text-base font-normal text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700;
}

.sidebar-icon-svg {
    @apply w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white;
}

.MuiInputBase-input .css-yz9k0d-MuiInputBase-input {
    @apply text-base-content !important;
}

.MuiToolbar-root {
    @apply text-base-content !important;
}

.MuiToolbar-gutters {
    @apply text-base-content !important;
}

.MuiToolbar-regular {
    @apply text-base-content !important;
}

.MuiTablePagination-toolbar {
    @apply text-base-content !important;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    @apply text-base-content !important;
}

.MuiTablePagination-selectLabel {
    @apply text-base-content !important;
}

.css-pdct74-MuiTablePagination-selectLabel {
    @apply text-base-content !important;
}

.css-levciy-MuiTablePagination-displayedRows {
    @apply text-base-content !important;
}

.css-zylse7-MuiButtonBase-root-MuiIconButton-root {
    @apply text-base-content !important;
}

.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
    @apply text-base-content !important;
}

.sidebar-break-heading {
    @apply text-center overflow-hidden before:h-[1px] after:h-[1px] after:bg-accent
  after:inline-block after:relative after:align-middle after:w-1/3
  before:bg-accent before:inline-block before:relative before:align-middle
  before:w-1/3 before:right-2 after:left-2 text-sm p-4 text-accent font-bold;
}

.css-0 {
    @apply text-neutral !important;
}

.headTitle {
    @apply text-primary text-6xl font-bold  uppercase;
}

.underTitle {
    @apply text-base-content text-2xl font-light;
}

.MuiInputBase-input {
    @apply placeholder:text-base-content !important;
}

.MuiOutlinedInput-input {
    @apply placeholder:text-base-content !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    @apply text-base-content placeholder:text-base-content !important;
}

.fc-toolbar-title {
    @apply text-base-content !important;
}

.fc-col-header-cell-cushion {
    @apply text-base-content !important;
}

.fc-daygrid-day-number {
    @apply text-base-content !important;
}

.fc-next-button-primary {
    @apply bg-base-100 !important;
}

.fc-prev-button-primary {
    @apply bg-base-200 !important;
}

.fc-today-button-primary {
    @apply bg-base-100 !important;
}

.fc-icon {
    @apply text-base-content !important;
}

.fc-today-button {
    /* @apply bg-base !important; */
    @apply bg-base-100 !important;
}

.fc-button-primary {
    @apply bg-base-200 !important;
}

.fc-button {
    @apply bg-base-200 text-base-content !important;
}

.fc-button-primary:disabled {
    @apply bg-base-300 !important;
}

.fc-scrollgrid {
    @apply rounded-lg border text-base-content !important;
}

.MuiAccordionSummary-root {
    @apply bg-base-200 !important;
}

.fc-daygrid-day {
    @apply bg-base-300 !important;
}

.MuiAccordionDetails-root {
    @apply bg-base-300 !important;
}

.MuiSvgIcon-root {
    @apply text-base-content !important;
}

.MuiList-root {
    @apply bg-base-100 !important;
}

.MuiList-subheader {
    @apply bg-neutral !important;
}
.css-uob957-MuiListSubheader-root {
    @apply bg-neutral !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    @apply group-hover:fill-primary !important;
}
.css-ci5apu-MuiSvgIcon-root {
    @apply hover:fill-primary !important;
}

.css-1tt292g {
    @apply w-full;
}

/* .menu-item {
  background-color: #1f2a40 !important;
}

.menu-item:hover {
  background-color: #0c101b !important;
}

.menu-anchor {
  background-color: #1f2a40 !important;
}

.menu-anchor:hover {
  background-color: #0c101b !important;
}

.menu {
  background-color: #1f2a40 !important;
} */
